$max_scale: 1.3;
$border_radius: #{0.5 * $max_scale};
$border_color: #eee;
$border_width: 1px;
#subreddit-navigator {
  z-index: 2;
  @include dialog();
  display: inline-block;
  position: relative;
  transform: scale(0.95);
  font-size: #{1 * $max_scale}vw;
  padding: #{1 * $max_scale}vw;

  vertical-align: middle;

  @media screen and (max-width: 2280px) {
    font-size: 30px;
    padding: 30px;
  }

  pointer-events: none;
  &.visible {
    pointer-events: auto;
    transform: scale(1);
    transition: 0.25s all;
    opacity: 1;
    .choice:hover {
      cursor: pointer;
    }
  }
  .input-item {
    &.sort-inputs {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 100%;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
    }
    padding: 20px 5px;
    text-align: center;
    label,
    input {
      height: #{1.33 * $max_scale}vw;
      font-size: #{1 * $max_scale}vw;
      padding: #{0.25 * $max_scale}vw #{0.2 * $max_scale}vw;
      @media screen and (max-width: 2280px) {
        height: 40px;
        font-size: 30px;
        padding: 7.5px 6px;
      }
    }
    label {
      position: relative;
    }
    input {
      &::placeholder {
        color: #eee;
        font-style: italic;
      }
      background: #d5d5d5;
      -webkit-appearance: none;
      border: none;
      width: #{10 * $max_scale}vw;
      @media screen and (max-width: 2280px) {
        width: 300px;
      }
    }

    input, .choice, #view-btn {
      &:focus {
        outline: none;
        box-shadow: inset 0 0 0 2px gold;
      }
    }

    .sort-chooser {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      .choice {
        text-align: center;
        user-select: none;
        width: #{3 * $max_scale}vw;
        @media screen and (max-width: 2280px) { width: 90px; }
        display: inline-block;
        border-right: $border_width solid $border_color;
      }
      &.sort {
        z-index: 2;
        height: #{2.5 * $max_scale}vw;
        line-height: #{2.5 * $max_scale}vw;
        font-size: #{0.6 * $max_scale}vw;
        @media screen and (max-width: 2280px) {
          height: 75px;
          line-height: 75px;
          font-size: 18px;
        }
      }
      &.t {
        line-height: #{1.7 * $max_scale}vw;
        font-size: #{0.425 * $max_scale}vw;
        @media screen and (max-width: 2280px) {
          line-height: 51px;
          font-size: 12.75px;
        }
        z-index: 1;
        max-width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: max-width 0.3s ease;
        &.visible {
          max-width: calc(#{(3 * 6) * $max_scale}vw + 5px);
          @media screen and (max-width: 2280px) { max-width: 564px; }
        }
      }
    }
  }
}

// border control
#hot {
  border-top-left-radius: #{$border_radius}vw;
  border-bottom-left-radius: #{$border_radius}vw;
}
#top,
#all {
  border-top-right-radius: #{$border_radius}vw;
  border-bottom-right-radius: #{$border_radius}vw;
  border-right: none !important;
}

// colors
#hot,
#new,
#top {
  background: transparent;
  background: linear-gradient(to bottom, #fefff2 0%,#feffe8 100%);
  &:hover {
    background: #fdffe5;
    background: linear-gradient(to bottom, #f1f2e6 0%, #f1f2dc 100%);
  }
  &.active {
    background: #3DCC8A;
  }
}

.t .choice {
  background: transparent;
  background: linear-gradient(to bottom, #fefff2 0%,#feffe8 100%);
  &:hover {
    background: #fdffe5;
    background: linear-gradient(to bottom, #f1f2e6 0%, #f1f2dc 100%);
  }
  &.active {
    background: #3DCC8A;
  }
}

#view-btn {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: #3DCC8A;
  padding: #{0.5 * $max_scale}vw #{1 * $max_scale}vw;
  font-size: #{0.6 * $max_scale}vw;
  @media screen and (max-width: 2280px) {
    padding: 15px 30px;
    font-size: 18px;
  }
}