#subreddit-error {
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  display: none;

  h1 {
    color: #edf1d5;
  }
}

#cancel-icon {
  width: 400px;
  height: 400px;
}