$title_height: 50;

html {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

body {
  background-color: #000;
  text-align: center;
  height: 100%;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  font-family: Arial, sans-serif;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: height 0.2s ease;
  &.title {
    height: calc(100% - #{$title_height}px);
  }
}

@mixin background() {
  background: #feffe8;
  background: linear-gradient(to bottom, #feffe8 0%,#d6dbbf 100%);
}

@mixin dialog() {
  @include background();
  box-shadow: 0px 0px 47px 8px rgba(0,0,0,0.25);
  padding: 10px 14px;
  color: #333;
  text-decoration: none;
  font-size: 30px;
  border-radius: 12px;
  transition: 0.1s all;
  opacity: 0;
}

@mixin fullscreen-div() {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform-origin 350ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 350ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

@mixin fullscreen-image-bg() {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center center;
}

@mixin text-shadow() {
  text-shadow: 1px 1px 0px rgba(242, 242, 242, 0.5), 1px 2px 0px rgba(177, 177, 178, 0.5);
}

.item {
  @include fullscreen-div();
  &.past {
    transform: translateX(-100%);
  }
  &.present {}
  &.future {
    transform: translateX(100%);
    + .item {
      display: none;
    }
  }
  &.image {
    @include fullscreen-image-bg();
  }
  &.imgur-album {
    .imgur-album-image {
      @include fullscreen-div();
      @include fullscreen-image-bg();
      &.past {
        transform: translateY(-100%);
      }
      &.present {}
      &.future {
        transform: translateY(100%);
        + .imgur-album-image {
          display: none;
        }
      }
    }
  }
}

#album-counter {
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 12px;
  @include dialog();
  text-align: center;
  &.visible {
    transition: 0.3s all cubic-bezier(0.26, 0.86, 0.44, 0.985);
    opacity: 0.3;
    &:hover {
      opacity: 1;
    }
  }
  &.emphasis {
    @include text-shadow();
    transition: top 0s, left 0s, opacity 0.5s cubic-bezier(0.26, 0.86, 0.44, 0.985);
    opacity: 0.9;
    font-size: 7.25vw;
    padding: 2.65vw 2.85vw;
    border-radius: 3vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#title {
  position: absolute;
  height: #{$title_height}px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: #333;
  background: #feffe8;
  background: linear-gradient(to bottom, #feffe8 0%, #edf1d5 100%);
  line-height: #{$title_height}px;
  font-size: 18px;
  transform: translateY(100%);
  transition: transform 0.2s ease;
  &.visible {
    transform: translateY(0%);
  }
}

@import "subreddit-navigator";

@import "subreddit-error";