html,
body,
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #000;
}

.item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  transform: translateX(100%);
  &.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center center;
  }
}
