html {
  width: 100%;
  height: 100%;
  position: absolute;
}
body {
  background-color: #000;
}
#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform-origin 350ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 350ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  &.past {
    transform: translateX(-150%);
  }
  &.present { }
  &.future {
    transform: translateX(150%);
    + .item {
      display: none;
    }
  }
  &.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center center;
  }
}
