@import "app";
$max_scale: 1.3;
#subreddit-navigator {
  @include dialog();
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  font-size: #{1 * $max_scale}vw;
  padding: #{1 * $max_scale}vw;
  &.visible {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.25s all;
    opacity: 1;
  }
  .input-item {
    padding: 20px 5px;
    text-align: center;
    label, input {
      font-size: #{1 * $max_scale}vw;
    }
    input {
      padding: #{0.25 * $max_scale}vw #{0.1 * $max_scale}vw;
      width: #{7.5 * $max_scale}vw;
    }
    button {
      font-size: #{$max_scale}vw;
      margin-top: #{1.5 * $max_scale}vw;
    }
    .sort-chooser {
      .choice {
        font-size: #{0.5 * $max_scale}vw;
        text-transform: uppercase;
        text-align: center;
        background: pink;
        height: #{2 * $max_scale}vw;
        line-height: #{2 * $max_scale}vw;
        width: #{3 * $max_scale}vw;
        display: inline-block;
        &:hover {
          background: purple;
        }
        &.active {
          background: red;
        }
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        border-right: 1px solid red;
      }
      position: relative;
      display: block;
      float: left;
      &.sort {
        z-index: 2;
      }
      &.t {
        margin-left: #{-0.2 * $max_scale}vw;
        z-index: 1;
        max-width: 0;
        overflow: hidden;
        white-space: nowrap;
        transition: max-width 0.25s ease;
        &.visible {
          max-width: #{(3 * 6 + 0.2) * $max_scale}vw;;
        }
      }
    }
  }
}

#hot {
  border-left: 1px solid red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#top, #all {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}