#subreddit-navigator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 600px;
  padding: 50px;
  box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.4);
  background: rgba(206, 227, 248, 0.9);
  color: #5f99cf;
  transform: translate(-50%, -50%);
}
