<div class="item imgur-album future">
  {{#each images}}
    <div class="imgur-album-image {{#if @first}}present{{/if}}{{#unless @first}}future{{/unless}}" style="background-image: url({{ link }})">
    </div>
  {{/each}}
</div>