<div class="input-item">
  <label for="subreddit">/r/</label><input id="subreddit" placeholder="subreddit" tabindex="1">
</div>
<div class="input-item sort-inputs">
  <span class="sort-chooser sort"><a class="choice" id="hot" tabindex="2">hot</a><a class="choice" id="new" tabindex="3">new</a><a class="choice" id="top" tabindex="4">top</a></span><span class="sort-chooser t"><a class="choice" id="hour" tabindex="5" data-tabindex="5">hour</a><a class="choice" id="day" tabindex="6" data-tabindex="6">day</a><a class="choice" id="week" tabindex="7" data-tabindex="7">week</a><a class="choice" id="month" tabindex="8" data-tabindex="8">month</a><a class="choice" id="year" tabindex="9" data-tabindex="9">year</a><a class="choice" id="all" tabindex="10" data-tabindex="10">all</a></span>
</div>
<div class="input-item">
  <a href="#" id="view-btn" tabindex="11">
    go
  </a>
</div>