<div class="input-item">
  <label for="subreddit">/r/</label>
  <input id="subreddit" placeholder="subreddit">
</div>
<div class="input-item">
  <span class="sort-chooser sort"><span class="choice" id="hot">hot</span><span class="choice" id="new">new</span><span class="choice" id="top">top</span></span><span class="sort-chooser t"><span class="choice" id="hour">hour</span><span class="choice" id="day">day</span><span class="choice" id="week">week</span><span class="choice" id="month">month</span><span class="choice" id="year">year</span><span class="choice" id="all">all</span></span>
</div>
<div class="input-item">
  <button>Go</button>
</div>